server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    location ~ ^/(api|loginqr) {
        proxy_pass ${PROXY_PASS:-http://127.0.0.1:11419};
    }

    location / {
        root   /usr/share/nginx/html;
        index  index.html;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
